@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

:root {
  --primary-blue: #4955fa;
  --text-dark: #111;
  --text-gray: #333;
  --bg-light: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

/* Navigation */
.navbar {
  max-width: 100%;
  position: sticky;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background: white;
  color: black;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.name {
  padding-left: 6px;
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

/* Hero Background */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../assets/images/Hero-Bg.jpg");
  background-size: contain;
  background-position: center;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.hero-desc {
  font-size: 1.2rem;
  color: var(--text-gray);
  max-width: 800px;
  margin: 0 auto 3rem auto;
  line-height: 1.6;
}

/* The Signature Yellow Button */
.btn-main {
  display: inline-block;
  padding: 20px 80px;
  background-color: var(--primary-blue);
  color: var(--text-dark);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.btn-main:hover {
  transform: translateY(-3px);
}

/* Floating  Sidebar */
.social-sidebar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

/* Project Grid  */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 50px 5%;
}

.project-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}
